Repository Whirlsplash/node-worlds: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

.lintstagedrc.json:

{
	"*.js": "npm run lint:fix",
	"*.{css,html,json,md,yaml}": "prettier --write"
}

format: Relative, not absolute path
  .gitignore
Due: none

etc: Use TypeScript
  .eslintrc
  index.js
  lib/index.d.ts
  lib/index.d.ts.map
  lib/index.js
  lib/index.js.map
  package.json
  src/index.ts
  test/index.js
  tsconfig.json
Due: npm run lint:fix, prettier --write

format: Stricter type-checking
  tsconfig.json
Due: prettier --write

feature: `isVIP` function
  lib/index.d.ts
  lib/index.d.ts.map
  lib/index.js
  lib/index.js.map
  package.json
  src/index.ts
  test/index.js
  test/index.spec.js
  tsconfig.json
  yarn.lock
Due: npm run lint:fix, prettier --write

feature: `getInfo` function
  lib/index.d.ts
  lib/index.d.ts.map
  lib/index.js
  lib/index.js.map
  src/index.ts
  test/index.spec.js
Due: npm run lint:fix

format: Add missing semicolon
  test/index.spec.js
Due: npm run lint:fix

format: Fix indentation
  tsconfig.json
Due: prettier --write

Add renovate.json
  renovate.json
Due: prettier --write
